<div class="container-fluid mt-4" cdkDropListGroup>
  <div class="row">
    <div class="col-md-4" *ngFor="let coluna of colunas">
      <h4 class="text-center p-2 text-white" [ngClass]="coluna.cor">{{ coluna.titulo }}</h4>

      <div cdkDropList [id]="coluna.id" [cdkDropListData]="coluna.tarefas"
        class="p-3 border rounded bg-light min-vh-100" (cdkDropListDropped)="drop($event)">

        <div *ngIf="coluna.tarefas.length === 0" class="text-center text-muted p-4">
          Nenhuma tarefa aqui.
        </div>

        <div *ngFor="let tarefa of coluna.tarefas" class="p-2 mb-2 bg-white border rounded shadow-sm tarefa-card"
          cdkDrag [cdkDragData]="tarefa">

          <strong>{{ tarefa.nome }}</strong>
          <p class="mb-1 small">{{ tarefa.descricao }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">Prioridade: {{ tarefa.prioridade }}</small>

            <span class="badge" [ngClass]="getBadgeClass(tarefa.prioridade)">
              {{ tarefa.tipo || 'N/D' }}
            </span>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>